#mainDiv {
	background: #ffffff;	
}
.close-all {
	font-size:24px;
	float: right;
	padding-right: 15px;
	margin-top: 6px;
	cursor: pointer;	
}
.btn-active-status {
	color: #ffffff !important;
	border-color: #6c757d !important;
	background-color: #6c757d !important; 	
}
.tab-btn-style {
	width: 100%;
	font-size: 12px;
	font-weight: 500;
	font-family: 'Arial', sans-serif;
}

.wait-image {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1051;
    top: 0;
    left: 0;
}
.page-number {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin-top: -8px;
  margin-left: -16px;
}
.page-number-col-top {
  margin-top: -22px;
}
.wait-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}
.zindex_reduce{
	z-index: 1;
}
.pre-contracts-header-text{
	font-size: 13px;
	font-family: 'Arial', sans-serif;
	font-weight: 600;
	color: #0069c0;
}
.h2-no-contract-text{
	font-size: 20px;
	font-family: 'Arial', sans-serif;
	margin-top: 19px;
	color: #7d2929;
}
.hotel-name-text{
	margin-bottom:10px; 
	font-weight:800; 
	font-size:15px; 
	color: #0069c0;
	margin-left: 18px;
	margin-top: 10px;
}
.page-header{
	margin-top: 10px;
	font-size: 32px;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	color: #333;
	letter-spacing: normal;
	background-color: #81d3f8;
}
.btn-submit {
    background: #0069c0;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
}
.contract-set-text {
    height: 25px;
	padding: 2px 2px 2px 2px !important;
	font-family: 'Arial', sans-serif;
	font-size: 10px;
	letter-spacing: normal;
	color: #000;
	background-color: transparent !important;
	border-color: #797979;
    
}
.suggested-table {
	font-family: 'Arial', sans-serif;
	font-size: 10px;
	color: #333;
}
.btn-contracts {
	height: 25px !important;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Arial', sans-serif;
	padding-top: 2px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.tabs {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 20px;
}
#tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
  display: table-cell;
  width: 20%;
}
#tab-button li a {
  display: block;
  padding: .5em;
  background: #eee;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  text-decoration: none;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
  background: #fff;
}
.tab-contents {
  padding: 0em 1em 1em;
  border: 1px solid #ddd;
}
.auth-contents {
  padding: 0em 1em 1em;
  border: 1px solid #ddd;
}
.auth-contents-lable {
  	margin-bottom: 0px !important;
  	font-size: 14px;
	font-family: 'Arial',sans-serif;
	color: #333;
}
.auth-contents-close {
	float: right;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.auth-contents-textbox {
	padding: 2px 2px 2px 2px;
	font-family: 'Arial', sans-serif;
	font-size: 13px;
	color: #000;
	text-transform: none;
	background-color: transparent;
	border-color: #797979;
	height: 28px;
}
.suggested-rates-contents {
  padding: 0em 1em 1em;
  border: 1px solid #ddd;
}
.btn-contract {
	height: 68px !important;
	width: 74px;
	color: #333 !important;
	font-size: 13px !important;
	font-weight: 400;
	font-family: 'Arial', sans-serif;
	background-color: #f59a23;
	border-color: #797979;
}
.other-contract-names {
	font-size: 13px !important;
	font-weight: 400;
	font-family: 'Arial', sans-serif;
	background-color: #fff;
	color: #333;
	border-color: transparent;
	margin-bottom: 10px;
	cursor: pointer;
}
.other-contract-names-1 {
	font-size: 13px !important;
	font-weight: 400;
	font-family: 'Arial', sans-serif;
	color: #333;
	border-color: transparent;
	margin-bottom: 10px;
	cursor: pointer;
}
.td-dates {
	font-size: 10px !important;
	font-weight: 500 !important;
}
.td-dates-first{
	font-size: 9px !important;
	font-weight: 701 !important;
}
.auth-btn {
  	height: 30px !important;
  	font-size: 13px;
	font-weight: 400;
	font-family: 'Arial', sans-serif;
	padding-top: 2px;
}
.tab-contents-row {
	margin-top: 10px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.tab-header {
	font-family: 'Arial', sens-serif;
	font-size: 15px;
	font-weight: 400;
	color: #333;
}

.tab-contents-col {
	padding-left: 0px !important;
	padding-right: 3px !important;
}
.tab-heading {
    font-size: 19px;
    margin-top: 13px;
}
.tab-button-outer {
  display: none;
}
.tab-contents {
  margin-top: 20px;
}
.auth-contents {
  margin-top: 20px;
}
.table-th {
  font-family: 'Arial Bold','Arial',sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  color: #f59a23;
  padding: .25rem !important;
}
.table-tr {
	padding: .25rem !important;
}
.rates-row-th {
	padding: 0.45rem !important;
	font-size: 13px;
	font-weight: 400;
	color: #333;
	font-family: 'Arial Bold','Arial',sans-serif;
	text-align: center;
	background-color: #ffff80;
}
.rates-row-first-tr {
	padding: 0.0rem !important;
	font-size: 13px;
	font-weight: 400;
	color: #333;
	font-family: 'Arial Bold','Arial',sans-serif;
	text-align: center;
	vertical-align: middle !important;
	background-color: #95f204;
}
.rates-row-second-tr {
	padding: 0.25rem !important;
	font-size: 13px;
	font-weight: 400;
	color: #333;
	font-family: 'Arial Bold','Arial',sans-serif;
	text-align: center;
}
.right-border-empty {
	border-right: transparent !important;
}
.left-border-empty {
	border-left: transparent !important;
}
.table-border-top {
	border-top: 1px double #828279 !important;
	border-bottom: 1px double #828279 !important;
	border-left: 1px double #828279 !important;
	border-right: 1px double #828279 !important;
}
.rate-header-1 {
	font-family: 'Arial Bold','Arial',sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 12px;
	justify-content: center; 
	color: #ffffff;
	background-color: #000000 !important;
}
.rate-header-2 {
	font-family: 'Arial Bold','Arial',sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	justify-content: center; 
	color: #ffffff;
	background-color: #000000 !important;
}
.suggested-rate-table-td {
	padding: 0.0rem !important;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
}
.td-color {
	background-color: #000000;
}
.td-font-1 {
	font-family: 'Arial Bold','Arial',sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 12px;
	justify-content: center;
	color: #ffffff;
}	
.td-font-2 {
	font-family: 'Arial Bold','Arial',sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	justify-content: center;
	color: #ffffff;
}	
.td-font-3 {
	font-family: 'Arial Bold','Arial',sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	justify-content: center;
	color: #ffffff;
}	
.suggested-rates-margin-top-top {
	margin-top: -16px;	
}	
.rate-header-height {
	line-height: 1;
}
.tab03-header {
	font-size: 17px;
	font-family: 'Arial', sans-serif;
	font-weight: 600;
	color: #0069c0;
}
.tab03-content-close {
	float: right;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	margin-top: -2px;
	margin-right: -14px;
}
.tab01-content-close {
	float: right;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	margin-top: -2px;
	margin-right: -13px;
	cursor: pointer;
}

.td-border-bottom-empty {
	border-bottom: transparent !important;
}
.td-border-top-empty {
	border-top: transparent !important;
}
.td-season-style {
  	padding: 0.0rem !important;
  	font-size: 10px;
  	font-weight: 400;
  	color: #333;
  	font-family: 'Arial Bold','Arial',sans-serif;
  	text-align: center;
  	vertical-align: middle !important;
  	border-top: 1px double #828279 !important;
	border-bottom: 1px double #828279 !important;
	border-left: 1px double #828279 !important;
	border-right: 1px double #828279 !important;
}
/*.col-lg-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-lg-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-lg-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-lg-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-lg-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-lg-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}*/

@media screen and (min-width: 655px) {
	.tab03-resort-col-4 {
		flex: 0 0 33.333333%;
  		max-width: 33.333333%;
	}
	.tab03-resort-col-5 {
		flex: 0 0 41.666667%;
  		max-width: 41.666667%;
	}
	.tab03-resort-col-6 {
		flex: 0 0 50%;
  		max-width: 50%;
	}
}
@media screen and (max-width: 655px) {
	.tab03-resort-row {
		flex-wrap: wrap;
	}
}



@media screen and (min-width: 625px) {
	.suggested-rates-col-8 {
		flex: 0 0 66.666667%;
  		max-width: 66.666667%;
	}
	.suggested-rates-col-4 {
		flex: 0 0 33.333333%;
  		max-width: 33.333333%;
	}
	
	.suggested-rates-margin-top {
		margin-top: -40px;
	}

	
}
@media screen and (max-width: 625px) {
	.suggested-rates-row {
		flex-wrap: wrap;
	}
	.suggested-rates-margin-top {	
		margin-top: 10 px;
	}
	.suggested-rates-margin-top-top {
		margin-top: -40px;	
	}	
}

@media screen and (min-width: 375px) {
	.hotel-name-col-2 {
		flex: 0 0 16.666667%;
  		max-width: 16.666667%;
	}
	.hotel-name-col-10 {
		flex: 0 0 83.33333%;
  		max-width: 83.33333%;
	}
}
@media screen and (max-width: 375px) {
	.hotel-name-row {
		flex-wrap: wrap;
	}
}
@media screen and (max-width: 374px) {
	.close-all {
		margin-top: -28px !important;
	}
}

@media screen and (min-width: 375px) {
	.suggested-rates-col-8-top {
		flex: 0 0 66.666667%;
  		max-width: 66.666667%;
	}
	.suggested-rates-col-4-top {
		flex: 0 0 33.333333%;
  		max-width: 33.333333%;
	}
}
@media screen and (max-width: 375px) {
	.suggested-rates-row-top {
		flex-wrap: wrap;
	}
}


@media screen and (min-width: 375px) {
	.inside-row-1-col-8 {
		flex: 0 0 66.666667%;
  		max-width: 66.666667%;
	}
	.inside-row-1-col-2 {
		flex: 0 0 16.666667%;
  		max-width: 16.666667%;
	}
}
@media screen and (max-width: 375px) {
	.inside-row-1 {
		flex-wrap: wrap;
	}
}






@media screen and (min-width: 375px) {
	.pre-rates-col-1 {
		flex: 0 0 8.333333%;
  		max-width: 8.333333%;
	}
	.pre-rates-col-2 {
		flex: 0 0 16.666667%;
  		max-width: 16.666667%;
	}
	.pre-rates-col-9 {
		flex: 0 0 75%;
  		max-width: 75%;
	}
}
@media screen and (max-width: 375px) {
	.pre-rates-row {
		flex-wrap: wrap;
	}
}

@media screen and (min-width: 625px) {
	.season-col-2 {
		flex: 0 0 16.666667%;
  		max-width: 16.666667%;
	}
	.season-col-5 {
		flex: 0 0 41.666667%;
  		max-width: 41.666667%;
	}
}
@media screen and (max-width: 625px) {
	.season-row {
		flex-wrap: wrap;
	}
}

@media screen and (min-width: 750px) {
	.after-validate-col-2 {
		flex: 0 0 16.666667%;
  		max-width: 16.666667%;
	}	
	.after-validate-col-3 {
		flex: 0 0 25%;
  		max-width: 25%;
	}
	.after-validate-col-4 {
		flex: 0 0 33.333333%;
  		max-width: 33.333333%;
	}
	.after-validate-col-5 {
		flex: 0 0 41.666667%;
  		max-width: 41.666667%;
	} 
}
@media screen and (max-width: 750px) {
	.after-validate-row {
		flex-wrap: wrap;
	}
}
@media screen and (min-width: 600px) {
	.auth-col-2 {
		flex: 0 0 16.666667%;
  		max-width: 16.666667%;
	}
	.auth-col-3 {
		flex: 0 0 25%;
  		max-width: 25%;
	}
	.auth-col-4 {
		flex: 0 0 33.333333%;
  		max-width: 33.333333%;
	}	
}
@media screen and (max-width: 600px) {
	.auth-row {
		flex-wrap: wrap;
	}
	.page-header {
		font-size: 25px;
	}
}
@media screen and (max-width: 625px) {
	.auth-col-4 {
  		padding-right: 9px !important;
  		padding-left: 9px !important;
	}
}
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: -1px;
	/*z-index: -1;*/
  }
  .auth-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}